<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
 <typeAliases>
  <package name='py.pol.una.ii.pw.Model' />
 </typeAliases>
 <environments default='development'>
  <environment id='development'>
    <transactionManager type='MANAGED'/>
<dataSource type="JNDI">
    <property name="data_source" value="java:jboss/datasources/PostgresqlDS"/>
</dataSource>
  </environment>
  </environments>
  <mappers>
 <mapper resource='py/pol/una/ii/pw/mapper/ProveedorMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/ClienteMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/ProductoMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/CompraCabeceraMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/CompraDetalleMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/VentaCabeceraMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/VentaDetalleMapper.xml'/>
 <mapper resource='py/pol/una/ii/pw/mapper/PagoMapper.xml'/>
 
  </mappers>
</configuration>
