<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='py.pol.una.ii.pw.mapper.ClienteMapper'>


  <select id="getAllCliente" resultType="py.pol.una.ii.pw.model.Cliente">
   SELECT * FROM CLIENTE 
  </select>
  
  <select id="selectClienteById" parameterType="int" resultType="py.pol.una.ii.pw.model.Cliente">
  	select * from cliente where id_cliente = #{id}	
  </select>

   <insert id='insertCliente' parameterType='py.pol.una.ii.pw.model.Cliente' 
       useGeneratedKeys='true' keyProperty='id_cliente'>
   INSERT INTO CLIENTE(id_cliente,ruc,nombre,telefono,saldo)
    VALUES(#{id_cliente},#{ruc}, #{nombre}, #{telefono}, #{saldo})
  </insert>

  <update id='updateCliente' parameterType='py.pol.una.ii.pw.model.Cliente'>
    UPDATE CLIENTE 
    SET
     ruc= #{ruc},
     nombre = #{nombre},
     telefono = #{telefono},
     saldo = #{saldo}
    WHERE id_cliente = #{id_cliente}
  </update>

  <delete id='deleteCliente' parameterType='int'>
    DELETE FROM CLIENTE WHERE id_cliente = #{id_cliente}
  </delete>
 
</mapper>